### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [43]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [4]:
player_Count=purchase_data["SN"].nunique()

## Player Count

* Display the total number of players

In [5]:
player_Count=pd.DataFrame({"Total Players":player_Count},index=[0])
player_Count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:

#Number of Unique items
unique_items=purchase_data["Item ID"].nunique()
unique_items=pd.DataFrame({"Number of Unique Items":unique_items},index=[0])
unique_items

   Number of Unique Items
0                     183

In [7]:
#Average Price
Average_Price=purchase_data["Price"].mean()
Average_Price=pd.DataFrame({"Average Prices":Average_Price},index=[0])
Average_Price

   Average Prices
0        3.050987

In [8]:
#No of Purchases
No_of_Purchases=purchase_data["Purchase ID"].count()
No_of_Purchases=pd.DataFrame({"Number of Purchases":No_of_Purchases},index=[0])
No_of_Purchases

   Number of Purchases
0                  780

In [9]:
#Average Price
Revenue=purchase_data["Price"].sum()
Revenue=pd.DataFrame({"Total Revenue":Revenue},index=[0])
Revenue

   Total Revenue
0        2379.77

In [10]:
toget=[unique_items,Average_Price,No_of_Purchases,Revenue]

In [49]:
t=pd.concat(toget,axis=1,join='inner',join_axes=None)
t['Total Revenue']=t['Total Revenue'].map("${:,.2f}".format)
t['Average Prices']=t['Average Prices'].map("${:.2f}".format)
t

   Number of Unique Items Average Prices  Number of Purchases Total Revenue
0                     183          $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
# dff=purchase_data.Gender.agg(['mean'])
# dff


P = purchase_data.groupby('Gender')['SN'].nunique().reset_index()
P['Percentage of Players'] = 100 * P['SN']  / P['SN'].sum()
P.sort_values(by=['Percentage of Players'],ascending=False)
P.rename(columns={'SN':"Total Count"})
P['Percentage of Players']=P['Percentage of Players'].map(lambda x:round(x,1))
P

                  Gender   SN  Percentage of Players
0                 Female   81                   14.1
1                   Male  484                   84.0
2  Other / Non-Disclosed   11                    1.9


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
Avg_Price=purchase_data.groupby(['Gender'])['Price'].mean()
No_of_Items=purchase_data.groupby(['Gender'])['Item Name'].count()
Total_Value=Avg_Price*No_of_Items
Avg_Price_Per=Total_Value/purchase_data.groupby('Gender')['SN'].nunique()
No_of_Items=pd.DataFrame(No_of_Items)
Avg_Price=pd.DataFrame(Avg_Price)
Total_Value=pd.DataFrame(Total_Value,columns=["Total Purchase Value"])
Avg_Price_Per=pd.DataFrame(Avg_Price_Per,columns=["Avg Total Purchase per Person"])

In [14]:
list_all=[No_of_Items,Avg_Price,Total_Value,Avg_Price_Per,]

In [50]:
dt=pd.concat(list_all,axis=1,join='inner',join_axes=None)
dt.rename(columns={'Item Name':'Purchase Count','Price':'Average Price'},inplace=True)
dt['Total Purchase Value']=dt['Total Purchase Value'].map("${:,.2f}".format)
dt['Average Price']=dt['Average Price'].map("${:.2f}".format)
dt['Avg Total Purchase per Person']=dt['Avg Total Purchase per Person'].map("${:,.2f}".format)
dt

,Purchase Count,Average Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
bins = [0,9,14,19,24,29,34,39,purchase_data["Age"].max()]
labels = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']

purchase_data['Age_bin'] = pd.cut(purchase_data['Age'],bins,right =True)

purchase_data['categories'] = pd.cut(purchase_data['Age'],bins,labels=labels)

In [17]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_bin,categories
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,"(19, 24]",20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,"(39, 45]",40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,"(19, 24]",20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,"(19, 24]",20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,"(19, 24]",20-24

In [18]:

Bin_Count= purchase_data.groupby('categories')['SN'].nunique().reset_index()
Bin_Count['Percentage of Players'] = 100 * Bin_Count['SN']  / Bin_Count['SN'].sum()
# P.sort_values(by=['Percentage of Players'],ascending=False)
Bin_Count.rename(columns={'SN':"Total Count"},inplace=True)
Bin_Count['Percentage of Players']=Bin_Count['Percentage of Players'].map(lambda x:round(x,1))
Bin_Count

  categories  Total Count  Percentage of Players
0        <10           17                    3.0
1      10-14           22                    3.8
2      15-19          107                   18.6
3      20-24          258                   44.8
4      25-29           77                   13.4
5      30-34           52                    9.0
6      35-39           31                    5.4
7        40+           12                    2.1

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
Avg_Price_Age=purchase_data.groupby(['categories'])['Price'].mean()
No_of_Items_Age=purchase_data.groupby(['categories'])['Item Name'].count()
Total_Value_Age=Avg_Price_Age*No_of_Items_Age
Avg_Price_Per_Age=Total_Value_Age/purchase_data.groupby('categories')['SN'].nunique()
No_of_Items_Age=pd.DataFrame(No_of_Items_Age)
Avg_Price_Age=pd.DataFrame(Avg_Price_Age)
Total_Value_Age=pd.DataFrame(Total_Value_Age,columns=["Total Purchase Value"])
Avg_Price_Per_Age=pd.DataFrame(Avg_Price_Per_Age,columns=["Avg Total Purchase per Person"])

In [20]:
list_all_Age=[No_of_Items_Age,Avg_Price_Age,Total_Value_Age,Avg_Price_Per_Age,]

In [54]:
dt_Age=pd.concat(list_all_Age,axis=1,join='inner',join_axes=None)
dt_Age.rename(columns={'Item Name':'Purchase Count','Price':'Average Price'},inplace=True)
dt_Age['Average Price']=dt_Age['Average Price'].map("${:,.2f}".format)
dt_Age['Avg Total Purchase per Person']=dt_Age['Avg Total Purchase per Person'].map("${:,.2f}".format)
dt_Age

,Purchase Count,Average Price,Total Purchase Value,Avg Total Purchase per Person
categories,,,,
<10,23,$3.35,77.13,$4.54
10-14,28,$2.96,82.78,$3.76
15-19,136,$3.04,412.89,$3.86
20-24,365,$3.05,1114.06,$4.32
25-29,101,$2.90,293.00,$3.81
30-34,73,$2.93,214.00,$4.12
35-39,41,$3.60,147.67,$4.76
40+,13,$2.94,38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:

#P_Count= purchase_data.groupby('SN')['Item Name'].count().reset_index()
# Bin_Count['Percentage of Players'] = 100 * Bin_Count['SN']  / Bin_Count['SN'].sum()
# P.sort_values(by=['Percentage of Players'],ascending=False)
# Bin_Count.rename(columns={'SN':"Total Count"})
#P_Count.describe()

In [23]:
No_of_Items_Top=purchase_data.groupby(['SN'])['Item Name'].nunique()
Avg_Price_Top=purchase_data.groupby(['SN'])['Price'].mean()
Total_Value_Top=Avg_Price_Top*No_of_Items_Top
No_of_Items_Top=pd.DataFrame(No_of_Items_Top)
Avg_Price_Top=pd.DataFrame(Avg_Price_Top)
Total_Value_Top=pd.DataFrame(Total_Value_Top,columns=["Total Purchase Value"])
list_all_Top=[No_of_Items_Top,Avg_Price_Top,Total_Value_Top]

In [55]:
dt_Top=pd.concat(list_all_Top,axis=1,join='inner',join_axes=None)
dtSorted=dt_Top.sort_values(['Total Purchase Value'],ascending=False)
dts=dtSorted.rename(columns={'Item Name':'Purchase Count','Price':'Average Price'})
dts['Average Price']=dts['Average Price'].map("${:,.2f}".format)
dts['Total Purchase Value']=dts['Total Purchase Value'].map("${:,.2f}".format)
dts.head()

             Purchase Count Average Price Total Purchase Value
SN
Lisosia93                 5         $3.79               $18.96
Idastidru52               4         $3.86               $15.45
Chamjask73                3         $4.61               $13.83
Iral74                    4         $3.40               $13.62
Iskadarya95               3         $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
No_of_Items_Pop= purchase_data.groupby(['Item ID','Item Name'])['Item Name'].count()
Avg_Price_Pop=purchase_data.groupby(['Item ID','Item Name'])['Price'].mean()
Total_Value_Pop=Avg_Price_Pop*No_of_Items_Pop
No_of_Items_Pop=pd.DataFrame(No_of_Items_Pop)
Avg_Price_Pop=pd.DataFrame(Avg_Price_Pop)
Total_Value_Pop=pd.DataFrame(Total_Value_Pop,columns=["Total Purchase Value"])
list_all_Pop=[No_of_Items_Pop,Avg_Price_Pop,Total_Value_Pop]

In [56]:
dt_Pop=pd.concat(list_all_Pop,axis=1,join='inner',join_axes=None)
dtSorted=dt_Pop.sort_values(['Item Name'],ascending=False)
dts2=dtSorted.rename(columns={'Item Name':'Purchase Count','Price':'Average Price'})
dts2['Average Price']=dts2['Average Price'].map("${:,.2f}".format)
dts2['Total Purchase Value']=dts2['Total Purchase Value'].map("${:,.2f}".format)
dts2.head()

,,Purchase Count,Average Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [30]:
dt_Pop=pd.concat(list_all_Pop,axis=1,join='inner',join_axes=None)
dtSorted=dt_Pop.sort_values(['Total Purchase Value'],ascending=False)
dtSorted=dtSorted.rename(columns={'Item Name':'Purchase Count','Price':'Averge Price'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [57]:
pft_Sorted=dt_Pop.sort_values(['Total Purchase Value'],ascending=False)
pft_Sorted.rename(columns={'Item Name':'Purchase Count','Price':'Average Price'},inplace=True)
pft_Sorted['Average Price']=pft_Sorted['Average Price'].map("${:,.2f}".format)
pft_Sorted['Total Purchase Value']=pft_Sorted['Total Purchase Value'].map("${:,.2f}".format)
pft_Sorted.head()

,,Purchase Count,Average Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80